<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login page </title>

    <!-- JQuery JavaScript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Angular Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet"> 

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <link rel="shortcut icon" type="image/png" href="content/favicon.png"/>    
</head>
<body ng-app="myApp" ng-controller="loginController" ng-init="initialize()">
    <div class="container">
        
        <header>
            <h1>Login</h1>
        </header>

        <div class="row">
            <div class="col-md-5">
                <p><sub>Username</sub></p>
            </div>
            <div class="col-md-5">
                <p><sub>Email</sub></p>
            </div>
            <div class="col-md-2">
            </div>
        <div class="row">
        </div>
            <div class="col-md-5">
                <input type="text" placeholder="{{username}}" class="form-control" id="username">
            </div>
            <div class="col-md-5">
                <input type="text" placeholder="{{email}}" class="form-control" id="email">
            </div>
            <div class="col-md-2">
                <input type="button" ng-click="googleLogin()" value="Login" class="btn btn-primary form-control">
            </div>
        </div>

        <p>&nbsp;</p>

<!--
        <input type="button" ng-click="onGoogleLogin()" value="Login" style="width: 100px; height: 60px"/>
-->
        <!-- Binding variables from Angular JS -->

<!--
        <img ng-src="{{g_image}}" style="width: 100px; height: 100px">
-->
        
    </div>

    <footer>
        <p>Built by Rachel Singh and Poonam Kankariya</p>
    </footer>
    
        
        

    <!-- Include the script -->
    <script src="scripts/login.js"></script>
</body>
</html>
