<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login page </title>

    <!-- JQuery JavaScript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Angular Script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Coustard" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Hello.js OAuth Library -->
    <script src="scripts/hello.all.min.js"></script>

    <!-- Backend functionality -->
    <!-- <script src="scripts/login.js"></script> -->
    <script src="scripts/angular.js"></script>

    <link rel="shortcut icon" type="image/png" href="content/favicon.png"/>    
</head>
<body ng-app="labApp" ng-controller="loginController" ng-init="initialize()">
    <div class="page-container container">
        
        <header>
            <h1>Login</h1>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>Lab 1 project, CS 5551, Fall 2018</p>
                </div>
                <div class="col-md-8">
                                
                    <div class="failed-login">
                        <p>Error: Invalid email or password!</p>
                    </div>
                    
                    <h3>Sign in</h3>
                    <div id="login-box">
                        <p>Sign in with website account:</p>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" placeholder="Email" class="form-control" id="login-email">
                            </div>
                            <div class="col-md-4">
                                <input type="password" placeholder="Password" class="form-control" id="login-password">
                            </div>
                            <div class="col-md-4">
                                <button ng-click="login()" class="btn btn-primary form-control">Sign in</button>
                            </div>
                        </div>
                        <hr>
                        <p>Sign in with Google:</p>
                        <p class="center"><button ng-click="loginGoogle()" class="google-button"></button></p>
                        <hr>
                    </div>
                    
                    <h3>Register</h3>
                    <div id="register-box">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" placeholder="Email" class="form-control" id="register-email">
                            </div>
                            <div class="col-md-3">
                                <input type="text" placeholder="Name" class="form-control" id="register-name">
                            </div>
                            <div class="col-md-3">
                                <input type="password" placeholder="Password" class="form-control" id="register-password">
                            </div>
                            <div class="col-md-3">
                                <button ng-click="registerAccount()" class="btn btn-primary form-control" id="register">Register</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
            </div>
        </div>

        <p>&nbsp;</p> <!-- spacer -->        
    </div>

    <footer>
        <p>Built by Rachel Singh and Poonam Kankariya</p>
    </footer>
</body>
</html>
